<%= form_with model: entry do |form| %>
<div class="form">
    <div class="title">
        <%= form.text_field :title, placeholder: "Title" %>

    </div>

    <div class="body">
        <%= form.text_area :body, placeholder: "What's on your mind?" %>
    </div>

    <div class="submit">
        <%= form.submit %>
        <%= link_to "Back", entries_path %>
    </div>
</div>
<% end %>