<div class="edit">
    <div class="nav">
        <div class="title">DearDiary</div>
    </div>
    <div class="body">
        <div class="container" style="background: url('<%= image_url "show.png" %>'); background-size: 1200px; background-repeat: no-repeat">
            <div class="box">
            <span>Dear Diary,</span>
            <br>
            <br>
            <p><%= @entry.body %></p>
            <br>
            <span>Love, Maia</span>
            <br>
            <br>
            </div>
        </div>
        <div class="options">
            <div class="links"><%= link_to "Back", entries_path %></div>
            <div class="links"><%= link_to "Edit", edit_path(@entry) %></div>
            <div class="links"><%= link_to "Delete", @entry, method: :delete,  data: {confirm: "Are you sure you want to    delete this entry? This can't be undone."}%></div></div>
    </div>
</div>